name: Commitlint
on:
  pull_request:
    branches: [ develop, main, release/*, release-* ]
    types: [ opened, edited, reopened, synchronize ]

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v1
        with:
          configFile: lint-config.js